<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./../static/css/style.css') }}">
    <title>Show User</title>
</head>
<body>
    <main>
        <h1>Your info!!!</h1>
        <form action="/users/show">
            <table>
                <thead>
                    
                    <tr>
                        <th>User ID: {{ users.id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="b2">
                            Full Name: {{ users['first_name'] }} {{ users['last_name'] }}
                        </td>
                        <td class="b3">
                            Email: {{ users['email'] }}
                        </td>
                        <td class="b4">
                            Created on: {{ users.updated_at.strftime("%b %d %Y") }}
                        </td>
                        <td class="b5">
                            Last Updated: {{ users.created_at.strftime("%b %d %Y %r") }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="grupBottums">
                <a href="/users">Home</a>
                <a href="/users/edit/{{ users.id }}">Edit</a>
                <a href="/users/delete/{{ users.id }}">Delete</a>
            </div>
        </form>
    </main>
</body>
</html>